In [1]:
import sys 
sys.executable

'C:\\Users\\Changho_Notebook\\anaconda3\\python.exe'

In [2]:
import pandas as pd 
import numpy as np 
%matplotlib inline
import matplotlib.pyplot as plt
import re 
import urllib.request
from konlpy.tag import Okt
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [217]:
data = pd.read_csv('./data/test_data0413.csv', encoding = 'euc-kr')

In [218]:
data

,Text,Feeling,Talking,book_id,sentence_id
0,"‘인도’가 적에게 포위를 당했는데, 적들이 은화 6백 개를 내놓을 때까지 물러나지 ...",2.0,0,5001,1.0
1,"그래서 주민들이 북을 치며 선포하길,",2.0,0,5001,2.0
2,*누구든 그 돈을 마련하는 사람을 시장으로 삼겠다*,2.0,1,5001,3.0
3,라고 했답니다,0.0,0,5001,4.0
4,"때마침 가난한 어부가 자신의 아들과 호수에서 물고기를 잡아 생활하다, 그 적들이 들...",5.0,0,5001,5.0
...,...,...,...,...,...
13053,그런데 그 호랑이는 바로 옛날에 나무꾼이 도와주었던 호랑이였습니다,4.0,0,7009,30.0
13054,*저는 나이가 들어 어차피 죽을 목숨이니 저를 임금에게 제물로 바치십시오*,4.0,1,7009,31.0
13055,그러곤 호랑이는 숨을 거두었습니다,4.0,0,7009,32.0
13056,나무꾼은 숨을 거둔 호랑이를 차마 제물로 바치지 못하고 양지바른 땅에 묻어주었습니다,4.0,0,7009,33.0
13057,목에 걸린 뼈를 나무꾼이 빼준 이후로 죽을 때까지 나무꾼에게 은혜를 갚는 호랑이의 ...,4.0,0,7009,34.0

In [229]:
data_df = data['Text'][:9000]

In [230]:
data_df

0       ‘인도’가 적에게 포위를 당했는데, 적들이 은화 6백 개를 내놓을 때까지 물러나지 ...
1                                   그래서 주민들이 북을 치며 선포하길,
2                            *누구든 그 돈을 마련하는 사람을 시장으로 삼겠다*
3                                                 라고 했답니다
4       때마침 가난한 어부가 자신의 아들과 호수에서 물고기를 잡아 생활하다, 그 적들이 들...
                              ...
8995     이제 제 마음을 휘저은 광경이 그 애란 걸 당신도 아셨으니, 말씀해주세요, 당신은...
8996                백작은 숲에서 어느 노파를 만나 그 책을 건네받게 되었다고 말했어요
8997                     *그 노파는 무척 기이한 여자로, 아무래도 마녀 같았습니다
8998         하지만 공주님에 관한 소식은 어디서도 전해 듣거나 눈으로 확인한 적은 없습니다*
8999                            왕과 왕비는 그 노파를 찾아나서기로 결심했어요
Name: Text, Length: 9000, dtype: object

In [124]:
import requests, json
 
# URL 지정
url = 'http://svc.saltlux.ai:31781'
 
# Header 정보 지정
headers = {'Content-Type': 'application/json; charset=utf-8'}
 
# Request Parameter 정보 지정
params = {
    "key": "389dddd9-70ee-46a9-9140-9713b9932b02",
    "serviceId": "11987300804",
    "argument": {
        "type": "1",
        "query": " *누구든 시장님이라고 불러야 한다"
    }
}
 
response = requests.post(url, headers = headers, data = json.dumps(params))
 
type(response.content) # bytes 이여서 decode 작업을 해야함
    
y = response.content
z = y.decode('utf-8')
dict = json.loads(z)
dict

{'query': ' *누구든 시장님이라고 불러야 한다',
 'type': '감정분석',
 'Result': [[0.6897064447402954, '분노']]}

In [125]:
test_df = pd.DataFrame(dict)
test_df

                 query  type                    Result
0   *누구든 시장님이라고 불러야 한다  감정분석  [0.6897064447402954, 분노]

In [126]:
result_df = test_df['Result']
result_df.str.split(',')
a = result_df[0]
a_df = a[0]
b_df = a[1]

In [127]:
test_df['Result'] = a_df
test_df

                 query  type    Result
0   *누구든 시장님이라고 불러야 한다  감정분석  0.689706

In [128]:
test_df['Feel'] = b_df
test_df

                 query  type    Result Feel
0   *누구든 시장님이라고 불러야 한다  감정분석  0.689706   분노

In [ ]:
url = 'http://svc.saltlux.ai:31781'
headers = {'Content-Type': 'application/json; charset=utf-8'}

test_df = []
test_df_full = []

for idx in data_df:
    params = {
    "key": "389dddd9-70ee-46a9-9140-9713b9932b02",
    "serviceId": "11987300804",
    "argument": {
        "type": "1",
        "query": idx
        }
    }
    response = requests.post(url, headers = headers, data = json.dumps(params))
    y = response.content
    z = y.decode('utf-8')
    dict = json.loads(z)
    # print(dict)
    test_df.append(dict['Result'][0][1])
    test_df_full.append(dict)
print(test_df)

In [ ]:
print(test_df_full)

In [ ]:
test_df = pd.DataFrame (test_df)
test_df